# Nuxt
.nuxt
.output
.data
node_modules
dist

# Env & secrets (JANGAN di-commit)
.env
dev.db*
uploads/*
public/uploads/*

# Logs & OS
logs
*.log
.DS_Store

# Tests
coverage
test-results/
playwright-report/
__screenshots__/

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.sw?

*.tsbuildinfo
.eslintcache
